name: Java CI con Gradle

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Configurar JDK 25
      uses: actions/setup-java@v4
      with:
        java-version: '25'
        distribution: 'oracle'
        
    - name: Configurar Gradle
      uses: gradle/actions/setup-gradle@v4

    - name: Ejecutar Pruebas Unitarias
      run: ./gradlew test